<header class="site-head">
    <div class="site-head-content">
        <div class="vertical">
            <h1 class="blog-title">{{@blog.title}}</h1> - the final frontier
        </div>
        <ul>
            {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
        </ul>
    </div>
</header>