<header class="site-head">
    <div class="site-head-content">
        <div class="vertical">
            <h1 class="blog-title">{{@blog.title}}</h1>
            <ul class="nav-menu">
                {{#foreach navigation}}
                    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
                        <a href="{{url absolute="true"}}">{{label}}</a>
                    </li>
                {{/foreach}}
            </ul>
        </div>
    </div>
</header>